DB_NAME=vlasato23
DB_USER=vlasato23
DB_PASSWORD=p6ctWXir
DB_HOST=127.0.0.1
BASE_URL=/weby/API
GOOGLE_CLIENT_ID=731126819470-jm53vv15n3nlnjpllpamji6obeqae7v1.apps.googleusercontent.com
ONESIGNAL_APP_ID=48497eb5-e6d4-40e0-95df-f8cea3dd4de1
ONESIGNAL_REST_API_KEY=os_v2_app_jbex5npg2raobfo77dhkhxkn4fyyxcbaxb7esbvywqz2gwuwq6ghxbcmjqy63cas4ky7e7p7f3ipknu5a6umcehpdd27tdrvec74lmy
